/* Import de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Retire la scrollbar */
}

/* Optionnel: Pour masquer la scrollbar uniquement sur les navigateurs basés sur Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
